  <!-- List of Heroes - Under Hero Tab -->

<div ng-controller="httpCntrl">

<h2>My Heroes</h2>

<ul class="heroes" ng-class="{adminCss : isAdmin , userCss : !isAdmin}">
    <li class="li-block" ng-repeat="heroes in heroesData track by $index"  >
      <a class="li-block" ui-sref="home.heroes.heroesDetails({id: heroes.id})">
        <span class="badge li-block">{{heroes.id}}</span> {{heroes.first_name}}
      </a>
     <br>
    </li>
    <br>
  </ul>
  <hr>
</div>
<div ui-view="show-details">

  
</div>



