<div ng-controller="httpCntrl">
<!-- <div style="width: 30% ; margin : 0 5%">
        <table class="table table-hover">
                <tr>
                    <th> Heroes List </th>
                    
                </tr>
            
            
            
                <tr ng-repeat="heroes in heroesData track by $index" >
                    <td>{{heroes.first_name | uppercase}}</td>
                  
                </tr>
            
            
            
            </table>
        </div>

</div> -->



<h2>My Heroes</h2>

<ul class="heroes">
    <li class="li-block" ng-repeat="heroes in heroesData track by $index">
      <a class="li-block">
        <span class="badge li-block">{{heroes.id}}</span> {{heroes.first_name}}
      </a>
     <br>
    </li>
    <br>
  </ul>

<!-- <div>
  <label>Hero name:
    <input #heroName />
  </label> -->
  
  <!-- <button (click)="add(heroName.value); heroName.value=''">
    add
  </button>
</div> -->


